.main {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container > div {
  margin-top: 3rem;
  max-width: 600px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #616161;
}

.container ul {
  display: flex;
  max-width: 100px;
  margin: 3rem auto 0;
  justify-content: space-around;
}

.container button {
  margin-top: 1rem;
}
