.navbar {
  height: 70px;
  width: 100%;
  background-color: #02a28f;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1284px;
  height: 100%;
  margin: 0 auto;
  padding: 0 36px;
}

.navbar h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

.navbar nav {
  width: 430px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
