.navbar {
  height: 70px;
  width: 100%;
  background-color: #02a28f;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1128px;
  height: 100%;
  margin: 0 auto;
}

.navbar h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

.navbar nav {
  width: 430px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 948px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 664px;
  }
}

@media screen and (max-width: 672px) {
  .container {
    max-width: 388px;
  }
}
