.container {
  height: 96px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px #02a28f;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: border ease-out 0.2s;
}

.container:hover {
  border: 1px solid #616161;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: start;

  height: 100%;
  border-radius: 10px;
}

.text > div {
  padding-top: 12px;
}

.image {
  margin: 0 12px;
  height: 70px;
  width: 132px;
  background: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position-y: center;
}

.text h2,
h3,
h4 {
  font-size: 1rem;
}
